/* Formatting */

body, html {
    margin: 0;
    height: 100%;
    display: flex;
}
  
.container {
    display: flex;
    height: 100vh;
}
  
.fixed-header {
    position: fixed;
    width: 250px; 
    height: 100vh; 
    background-color: #333;
    color: #fff;
    padding: 1rem;
    box-sizing: border-box;
}
  
.scrollable-content {
    margin-left: 250px; 
    padding: 1rem;
    width: calc(100% - 250px); 
    overflow-y: auto; /* Enable vertical scrolling */
    box-sizing: border-box;
}
  
/* Table styling */
  
table { 
    width: 100%; 
    border-collapse: collapse; 
} 
  
th, td { 
    border: 2px solid #000; 
    padding: 8px; text-align: left; 
} 
  
th { 
    background-color: #f2f2f2; /*Background color for header */ 
}

/* More styling */
/* Leib's Styling */
pre { 
    background-color: #f4f4f4; 
    border: 1px solid #999;
    font-family: 'Courier New', Courier, monospace; 
    padding: 10px; 
    white-space: pre-wrap; /* This ensures that white spaces are preserved */ }

    
/* Robin's Styling */

/* demo of old CSS path animation */
/* ------------------------------ */

/* old demo border */
.old-demo {
    height: 330px;
    width: 640px;
    border: solid;
}

/* old demo div container and animation for ball.svg */
.old {
    width: 50px;
    height: 50px;
    animation: linear infinite;
}

@keyframes old-move {
    20% { transform: translate(200px, 60px); }
    40% { transform: translate(300px, -60px); }
    60% { transform: translate(400px, 40px); }
    80% { transform: translate(500px, -60px); }
    100% { transform: translate(600px, 20px); }
}

.path-box {
    border: solid;
}

/* demo of new CSS path animation */
/* ------------------------------ */

.motion-path-section {
    width: 640px;
}

/* path demo border */
.motion-path-demo {
    height: 330px;
    border: solid;
}

/* container and animation for ball.svg */
.motion-path {
    width: 50px;
    height: 50px;
    offset-path: path("M0,46c77.6,0,127.1,180.4,140.2,240.5,13.7-56.9,44.6-123.8,86.4-123.8s66.3,64.5,84.8,126c13.8-28.8,32.6-58.3,58.5-58.3s43.6,28.8,57.6,59.8c69-.7,17.6,0,84.5-.7");
    animation: move 1000ms infinite ease-out;
    offset-anchor: auto
}

@keyframes move { 
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
    100% {
        transform: rotate(1400deg);
    } 
}