/* Hamburger */

/* Formatting */

* {
  scroll-behavior: smooth;
}
.container {
  display: block;
}
.scrollable-content {
  padding: 1rem;
  width: auto;
  overflow-y: auto;
  background-color: lightgray;
}

a:link,
a:visited,
a:active {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: darkturquoise;
}
img {
  width: 100%;
  height: auto;
}

/* Header styling */

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-item {
  margin: 0.5rem 0;
}

.header-title {
  text-align: center;
}

/* Font styling */

body {
  font-family: Arial, sans-serif;
  background-color: #d3d3d3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", serif;
}

p {
  font-family: "Times New Roman", Times, serif;
}

/* Table styling */

table {
  /* width: 70%;  */
  border-collapse: collapse;
}

th,
td {
  border: 2px solid #000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2; /*Background color for header */
}

/* More styling */
/* Leib's Styling */
pre {
  color: #fff;
  border: 1px solid #999;
  font-family: "Courier New", Courier, monospace;
  padding: 10px;
  white-space: pre-wrap; /* This ensures that white spaces are preserved */
  overflow-x: auto;
  word-wrap: break-word;
  background-color: #3a3a3a;
}
code {
  display: block;
  white-space: pre;
}
.Nestingcode {
  color: #fff;
  border: 1px solid #999;
  font-family: "Courier New", Courier, monospace;
  padding: 12px;
  border-radius: 8px;
  background-color: #3a3a3a;
  line-height: 1.5;
}
@media (min-width: 50em) {
  .Nestingcode {
    white-space: pre-wrap; /* This ensures that white spaces are preserved */
    overflow-x: auto;
    word-wrap: break-word;
  }
}

/* Muskan's Styling */
ol li {
  font-family: "Times New Roman", Times, serif;
}
ol li span {
  display: inline;
}
/* Robs Styling */

#css-editor-old,
#css-editor-motion-path {
  width: 100%;
  height: 150px;
  font-family: monospace;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.old-demo,
.motion-path-demo {
  height: 330px;
  /* width: 640px; */
  border: 1px solid black;
  display: flex;
  overflow: hidden;
}

.old,
.motion-path {
  width: 50px;
  height: 50px;
}

.svg-path {
  /* width: 640px; */
}

/* Ian's Styling start */

/* Example of animation-timeline scroll() */
.scroll-container-1 {
  margin: 0 auto;
  /* width: 800px; */
  height: 300px;
  overflow-y: scroll;
  position: relative;
  border: 1px solid #000;
}

#stretcher {
  height: 600px;
}

#bear-image {
  width: 100px;
  height: 100px;
  margin-top: 100px;
  position: absolute;
  bottom: 0;
  animation-name: rotateAnimation;
  animation-duration: 1ms;
  /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Animation-timeline view() */
.scroll-driven {
  display: block;
  margin: 0 auto;
  /* width: 800px; */
  height: 500px;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid #000;
  position: relative;
}

.subject {
  width: 300px;
  height: 200px;
  background-color: deeppink;
}

.scroll-content {
  width: 75%;
  max-width: 800px;
  margin: 0 auto;
}

.scroll-driven p {
  font-size: 1.5rem;
  line-height: 1.8;
}

.subject-container {
  border: 2px dashed black;
  width: 300px;
  margin: 0 auto;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  background-color: #f5deb3aa;
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  color: red;
  top: 0;
  left: 0;
  justify-content: flex-start;
}

.top {
  top: 0rem;
  height: 244px;
  align-items: end;
}

.bottom {
  top: 455px;
  height: 50px;
  padding-left: 5rem;
}

.animation {
  animation-timeline: view(block 50% 10%);
  animation-name: grow;
  animation-fill-mode: both;
  animation-duration: 1ms;
  /* Firefox requires this to apply the animation */
  animation-timing-function: linear;
}

@keyframes grow {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

/* Example of animation-renge */
@keyframes header {
  from {
    backdrop-filter: blur(0);
    background: transparent;
  }

  to {
    backdrop-filter: blur(8px);
    background: rgba(83, 117, 173, 0.75);
  }
}

.scroll-nav,
.scroll-nav > h2 {
  animation: header linear forwards;
  animation-timeline: scroll();
  animation-range: 0 80px;
}

.scroll-nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--surface);
  padding: 2rem;
}

.range {
  /* width: 800px; */
  height: 300px;
  --surface: hsl(200 10% 10%);
  --text: hsl(200 5% 80%);
  background-color: var(--surface);
  color: var(--text);
  overflow: scroll;
  margin: 0 auto;
}

.scroll-container-2 {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  padding-block-end: 20vh;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

.scroll-container-2 h2 {
  margin: 0;
  text-align: center;
}

.scroll-container-2 p {
  font-size: 1.25rem;
  line-height: 2;
}

/* Ian's styling End */
.fixed-header {
  position: static;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.fixed-header ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#navigation {
  display: none;
}

#toggle-menu {
  position: fixed;
  right: 1rem;
  padding: 1rem;
  cursor: pointer;
  background-color: #3a3a3a;
  color: #fff;
  border: none;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    height: 100vh;
  }

  /* #toggle-menu {
    display: none;
  } */

  #navigation {
    display: block;
  }

  .fixed-header {
    position: fixed;
    width: 250px;
    height: 100vh;
    padding: 1rem;
  }

  .fixed-header ul {
    flex-direction: column;
    padding: 1rem 0;
  }

  .scrollable-content {
    margin-left: 250px;
    padding: 1rem;
    width: calc(100% - 250px);
    overflow-y: auto;
    background-color: lightgray;
    max-width: 1200px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: normal;
  }
}
