/* Formatting */

body, html {
    margin: 0;
    height: 100%;
    display: flex;
}
  
.container {
    display: flex;
    height: 100vh;
}
  
.fixed-header {
    position: fixed;
    width: 250px; 
    height: 100vh; 
    background-color: #333;
    color: #fff;
    padding: 1rem;
    box-sizing: border-box;
}
  
.scrollable-content {
    margin-left: 250px; 
    padding: 1rem;
    width: calc(100% - 250px); 
    overflow-y: auto; /* Enable vertical scrolling */
    box-sizing: border-box;
}
  
/* Table styling */
  
table { 
    width: 100%; 
    border-collapse: collapse; 
} 
  
th, td { 
    border: 2px solid #000; 
    padding: 8px; text-align: left; 
} 
  
th { 
    background-color: #f2f2f2; /*Background color for header */ 
}

/* More styling */
/* Leib's Styling */
pre { 
    background-color: #f4f4f4; 
    border: 1px solid #999;
    font-family: 'Courier New', Courier, monospace; 
    padding: 10px; 
    white-space: pre-wrap; /* This ensures that white spaces are preserved */ }

<<<<<<< HEAD
    
/* Robin's Styling */

/* demo of old CSS path animation */
/* ------------------------------ */

/* old demo border */
=======
/* Robs Styling */
>>>>>>> 8ef77b933315b786b2b5807c366fa673c784f4b0
.old-demo {
    height: 330px;
    width: 640px;
    border: solid;
}

/* old demo div container and animation for ball.svg */
.old {
    width: 50px;
    height: 50px;
    animation: old-move linear infinite running;
}

@keyframes old-move {
    20% { transform: translate(200px, 60px); }
    40% { transform: translate(300px, -60px); }
    60% { transform: translate(400px, 60px); }
    80% { transform: translate(500px, -60px); }
    100% { transform: translate(600px, 60px); }
}

/* demo of new CSS path animation */
/* ------------------------------ */

/* path demo border */
.motion-path-demo {
    height: 330px;
    width: 640px;
    border: solid;
}

/* container and animation for ball.svg */
.motion-path {
    width: 50px;
    height: 50px;
    offset-path: path("M512.1,292.7h-77.4c-7.9-15.2-25.9-45.4-58.3-45.4s-50.4,25-60.1,45.4c-19.8-50.4-51.8-110.2-90.4-110.2s-73.8,52.9-97.2,110.2C111.4,165.5,48.7,27.3-.1,27.3");
    animation: move 1000ms infinite reverse ease-in;
}

@keyframes move { 
    0% {
      offset-distance: 0%;
    }
    100% {
      offset-distance: 100%;
    }
    100% {
        transform: rotate(-1000deg);
    }
}